<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Condiciones de la Ventanilla Gimli</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Los clientes pueden realizar compras en línea de manera conveniente y segura.</li>
              <li class="list-group-item">El aplicativo ofrece una interfaz intuitiva para la selección y compra de productos.</li>
              <li class="list-group-item">Los clientes pueden elegir entre dos modalidades de entrega: presencial o a domicilio.</li>
              <li class="list-group-item">Se implementan métricas para optimizar la experiencia del usuario y determinar la disponibilidad y condiciones de entrega a domicilio.</li>
              <li class="list-group-item">Se garantiza un servicio eficiente y adaptado a las necesidades individuales de cada cliente.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  