<main>




  <!---------------INICIO CONTENEDOR LOGIN------------------>

  <div class="container marketing">



    <!---------------FIN CONTENEDOR LOGIN------------------>



    <!---------------INICIO CONTENEDOR CLINICA------------------>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Ventanilla Gimli</h2>
        <p class="lead">¡Por el honor de los enanos, en la historia grabado,
          Gimli, hijo de Glóin, siempre recordado!
          En el círculo de la amistad, brilla su luz,
          En el corazón de la Tierra Media, su legado reluce.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/Imagenes/mordor.png" id="fotoiz" alt="Imagen Descriptiva"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700">
      </div>

    </div>

    <!---------------FIN CONTENEDOR CLINICA------------------>

    <!---------------INICIO CONTENEDOR QUIENES SOMOS----------------->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">¿Quienes somos? <span class="text-body-secondary"></span> </h2>
        <p class="lead">"La Ventanilla Gimli surge como respuesta a una necesidad identificada en el mercado local de
          proporcionar un espacio único y acogedor donde los clientes puedan acceder a una variedad de productos, con
          énfasis en la venta de bebidas alcohólicas, dulces y otras bebidas complementarias. Este proyecto nace de la
          observación de un vacío en la oferta comercial, donde la mayoría de los establecimientos se centran en la
          venta exclusiva de alcohol o en la distribución de productos de forma dispersa.
          ".</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/Imagenes/gimli.jpg" id="fotoiz" alt="Imagen Descriptiva"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400">
      </div>
    </div>

    <!---------------FIN CONTENEDOR QUIENES SOMOS----------------->


    <hr class="featurette-divider">

    <!---------------INICIO CONTENEDOR CONTACTANOS----------------->


    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Contactanos </h2>
        <p class="lead">Nuestra ventanilla ubicada en el parque Simon Bolivar con direccion a Gondor.</p>
        <p>Líneas de atención nacional: </p>
        <li>Whatsapp: +57 310 723 1726</li>
        <li>Telefono fijo: (601) 3077077</li>
        <li>Línea de atención gratuita: 018000 234 56 78</li>
        <p>Correo electronico: ventanillagimli@gmail.com</p>
      </div>
      <div class="col-md-5">
        <section class="mapa">
          <div class="mapa-contenido">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2031478.9416251648!2d-77.73922150624999!3d6.031429700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46971ef13e0bb5%3A0xe849128c9612c203!2sMORDOR!5e0!3m2!1ses!2sco!4v1714320854525!5m2!1ses!2sco"
              width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </section>
      </div>


    </div>

    <!---------------FIN CONTENEDOR CONTACTANOS----------------->




  </div><!-- /.container -->



</main>