<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Datos del Cliente</h5>
    </div>

    <div class="card-body p-5">

        <div id="contenedor">

            <div id="caja1">

                <h4>Codigo del Cliente</h4>
                <p id="">{{detalleCliente.codigo}}</p>

                <h4>Nombre del Cliente:</h4>
                <p>{{detalleCliente.nombreCliente}}</p>

                <h4>Correo del Cliente:</h4>
                <p>{{detalleCliente.correoCliente}}</p>

            </div>

            <div id="caja2">
               
                <h4>Telefono del Cliente</h4>
                <p>{{detalleCliente.telefono}}</p>

                <h4>Dirección del Cliente</h4>
                <p>{{detalleCliente.direccion}}</p>

            </div>

            <app-alerta [alerta]="alerta"></app-alerta>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Modificar Perfil</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm" >

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel"
                        [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''" type="text"
                        name="nombre" class="form-control" required [(ngModel)]="modificarClienteDTO.nombre" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Teléfono: </label>
                <div class="col-sm-10">
                    <input #telefono="ngModel"
                        [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) ? 'is-invalid' : ''"
                        type="text" name="telefono" class="form-control" required
                        [(ngModel)]="modificarClienteDTO.telefono" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Direccion: </label>
                <div class="col-sm-10">
                    <input #alergias="ngModel"
                        [ngClass]="alergias.invalid && (alergias.dirty || alergias.touched) ? 'is-invalid' : ''"
                        type="text" name="alergias" class="form-control" required
                        [(ngModel)]="modificarClienteDTO.direccion" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Correo electrónico: </label>
                <div class="col-sm-10">
                    <input #correo="ngModel"
                        [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="text"
                        name="correo" class="form-control" required [(ngModel)]="modificarClienteDTO.correo" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Contraseña: </label>
                <div class="col-sm-10">
                    <input #password="ngModel"
                        [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                        type="password" name="password" class="form-control" required
                        [(ngModel)]="modificarClienteDTO.password" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Repetir contraseña: </label>
                <div class="col-sm-10">
                    <input #confirmaPassword="ngModel"
                        [ngClass]="password.invalid && (confirmaPassword.dirty || confirmaPassword.touched) ? 'is-invalid' : ''"
                        type="password" name="confirmaPassword" class="form-control" required
                        [(ngModel)]="modificarClienteDTO.confirmaPassword" />
                </div>
            </div>

            <p *ngIf="!sonIguales()">Las contraseñas no coinciden</p>

            <button class="btn bg-dark text-white" type="submit" [disabled]="camposVacios() || !f.form.valid || !sonIguales()" (click)="modificarPerfilCliente()">Modificar Perfil</button>

            <app-alerta [alerta]="alerta"></app-alerta>


        </form>
    </div>
</div>

<div class="card">

    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Eliminar Cuenta</h5>
    </div>

    <div class="card-body p-5">

        <div id="contenedor">
            <button type="submit" class="btn btn-danger" (click)="eliminarCuenta()">
                Eliminar Cuenta
            </button>
        </div>
    </div>
    
</div>